
/*import des icons*/

/*import des Typographies*/


/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Montserrat;
}


/*--------------------------------------------------
🤓 Material Icons
----------------------------------------------------*/

.material-icons, .material-icons-outlined, .material-icons-filled, .material-icons-rounded, .material-icons-shar,.material-icons-two-tone{
  vertical-align: text-top;
  color : currentColor;
  font-size: inherit;
  display: inline-block;
  
}

.btn .material-icons, .btn .material-icons-outlined, .btn .material-icons-filled, .btn .material-icons-rounded, .btn .material-icons-shar,.btn .material-icons-two-tone{
 margin-right: 8px;
  
}

/*--------------------------------------------------
🤖 Variables
----------------------------------------------------*/
:root{
    --gap: 32px;
    --primary: #111;
    --secondary: #eee;
    --black: #000;
    --white: #fff;
    --grey: #636363;
    --light-grey: #aaa;
}

/*--------------------------------------------------
📦Container et responsive
---------------------------------------------------*/
.container{
    width : 100%;
    /*vous pouvez enlever le padding si il vous gene*/
    padding: 16px;
}
.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*vous pouvez enlever le padding si il vous gene*/
    padding: 16px;
}

.responsive{
    /*Les images doivent d'adapter a leur parents*/
    width: 100%;
    height: auto;
    object-fit: cover; /* jouez sur ces proprietés pour recadrer / agrandir l'image */
    object-position: center;
}


/*--------------------------------------------------
🪄 Mise en page flex
---------------------------------------------------*/
.flex{
    display: flex;
    flex-wrap: wrap;
}
.reverse{
    flex-direction: row-reverse;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}

.alternate>div:nth-child(2n){
    flex-direction: row-reverse;
}
.gap{
    gap:var(--gap);
}


/*--------------------------------------------------
🧱Largeurs et colonnes
---------------------------------------------------*/

/*Generation des classes pour la largeur des colonnes selon 
les resolutions d'ecrans d'apres un petit script sass*/

/*Desktop*/
.large-1 {
    width: calc(8.3333333333% - 11 * var(--gap) / 12);
  }
  .large-2 {
    width: calc(16.6666666667% - 5 * var(--gap) / 6);
  }
  .large-3 {
    width: calc(25% - 3 * var(--gap) / 4);
  }
  .large-4 {
    width: calc(33.3333333333% - 2 * var(--gap) / 3);
  }
  .large-5 {
    width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
  }
  .large-6 {
    width: calc(50% - 1 * var(--gap) / 2);
  }
  .large-7 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
  }
  .large-8 {
    width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
  }
  .large-9 {
    width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
  }
  .large-10 {
    width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
  }
  .large-11 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
  }
  .large-12 {
    width: calc(100% - 0 * var(--gap) / 1);
  }
  
  /*Tablets*/
  @media all and (max-width: 700px) {
    .medium-1 {
      width: calc(8.3333333333% - 11 * var(--gap) / 12);
    }
    .medium-2 {
      width: calc(16.6666666667% - 5 * var(--gap) / 6);
    }
    .medium-3 {
      width: calc(25% - 3 * var(--gap) / 4);
    }
    .medium-4 {
      width: calc(33.3333333333% - 2 * var(--gap) / 3);
    }
    .medium-5 {
      width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
    }
    .medium-6 {
      width: calc(50% - 1 * var(--gap) / 2);
    }
    .medium-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
    }
    .medium-8 {
      width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
    }
    .medium-9 {
      width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
    }
    .medium-10 {
      width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
    }
    .medium-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
    }
    .medium-12 {
      width: calc(100% - 0 * var(--gap) / 1);
    }
  }
  /*Smartphones*/
  @media all and (max-width: 440px) {
    .small-1 {
      width: calc(8.3333333333% - 11 * var(--gap) / 12);
    }
    .small-2 {
      width: calc(16.6666666667% - 5 * var(--gap) / 6);
    }
    .small-3 {
      width: calc(25% - 3 * var(--gap) / 4);
    }
    .small-4 {
      width: calc(33.3333333333% - 2 * var(--gap) / 3);
    }
    .small-5 {
      width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
    }
    .small-6 {
      width: calc(50% - 1 * var(--gap) / 2);
    }
    .small-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
    }
    .small-8 {
      width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
    }
    .small-9 {
      width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
    }
    .small-10 {
      width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
    }
    .small-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
    }
    .small-12 {
      width: calc(100% - 0 * var(--gap) / 1);
    }
  }


/*--------------------------------------------------
✍️ Styliser du texte
---------------------------------------------------*/
h1,h2,h3,h4,h5,h6{
    margin-bottom: 16px;
 
    font-weight: bold;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
    color: green;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}

p{
    line-height: 1.5;
}
a{
    color: var(--black);
    text-decoration: none;
}

/*--------------------------------------------------
🚀 Margins and paddings ... don't abuse ! 
---------------------------------------------------*/
.mt-64{
    margin-top: 64px;
}
.mt-32{margin-top: 32px;}
.mt-100{
    margin-top: 100px;
}
.p-16{
    padding: 16px;
}
/*--------------------------------------------------
✅Boutons (rajoutez les hover de vos choix 😊)
---------------------------------------------------*/
.btn{
    display: inline-block;
   
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
   
    border: 2px solid var(--primary);
}
.btn-primary{
    background-color: var(--primary);
    color: var(--white);
}
.btn-secondary{
    
    background-color: var(--secondary);
    color: var(--primary);
}
.btn-disabled{
    background-color: var(--grey);
    color: var(--light-grey);
    cursor: not-allowed;
    border: 2px solid var(--grey);
}



/*--------------------------------------------------
🎓Header
---------------------------------------------------*/

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(32, 155, 32);
    padding: 16px 64px;
    position:sticky;
    top:0;
    z-index: 999;
}
header nav{
    display: flex;
    gap: 16px;
}
header nav a{
    color: white;
}

/*--------------------------------------------------
🦸Hero
---------------------------------------------------*/
.hero{
    background: var(--light-grey);
    height: 55vh;
    position: relative;
}
.hero-banner{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    h2,.sloggan,.btn{
        
        margin-top: 16px;
        margin-bottom: 16px;
    }

}

/*--------------------------------------------------
🃏 Cards
---------------------------------------------------*/
.card{
    border-radius: 8px;
    
    h3,h4,.btn{
        margin-top: 16px;
        margin-bottom: 16px;
    }
    img{
        border-radius: 8px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 150px;
    }
    p{
        font-size: 14px;
    }
}

.avis{

    background-color: var(--secondary);
    padding: 16px;

    &>div{
        --gap: 16px;
    }
    
    border-radius: 8px;
    h4{
        margin: 0;
    }
    .avatar{
        width: 64px;
        height: 64px;
        border-radius: 64px;
        background-color: var(--grey);
        padding : 8px;
        
    }
    .stars{
        color: var(--primary);
    }
    p{
        margin-top: 16px;
        font-size: 14px;
    }
}



/*--------------------------------------------------
⛰️ backgrounds
---------------------------------------------------*/
.bg-grey{
    background-color: var(--light-grey);
}

.HeroPizz{
  background-image: url(assets/HeroPizz.png);
}
